body{
    background-color: #1e1e1e;
    color: #ffbd59;
}
input[type="text"], input[type="number"]{
    background-color: #1e1e1e;
    color: #ffbd59;
    border: 1px solid #ffbd59;
    border-radius: 5px;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea{
    background-color: #1e1e1e;
    color: #ffbd59;
    border: 1px solid #ffbd59;
    border-radius: 5px;
}
select{
    background-color: #1e1e1e;
    color: #ffbd59;
    border: 1px solid #ffbd59;
    border-radius: 5px;
}
button{
    background-color: #ffbd59;
    font-size: 14px;
    color: #1e1e1e;
    border: 3px solid #ffbd59;
    border-radius: 5px;
}
tr, td{
    border-bottom: 1px solid #ffbd59;
    background-color: red;
}